* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: black;

    .container {
        width: 35rem;
        height: 25rem;
        padding: 2rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        filter: blur(.5rem) contrast(900%);

        div:nth-child(1), div:nth-child(3) {
            width: 100%;
            height: 3rem;    
            background-color: white;
            border-radius: 5rem;    
        }

        div:nth-child(2) {
            width: 3rem;
            height: 3rem;
            background-color: white;
            border-radius: 50%;
            transform: translateY(-9rem); 

            animation: drip 2s ease-in-out infinite;
        }
    }
}

@keyframes drip {
    to {
        transform: translateY(9rem);
    }
}