* {
    box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.signal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #222;
    height: 200px;
    width: 90px;
    border-radius: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.light {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.red {
    background-color: #f00;
    opacity: 0.2;
    animation: red 8s linear infinite;
}

@keyframes red {
    0% {
        opacity: 0.2;
    }

    45% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.2;
    }

    55% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.orange {
    background-color: rgb(240, 174, 33);
    opacity: 0.2;
    animation: orange 8s linear infinite;
}

@keyframes orange {
    0% {
        opacity: 0.2;
    }

    45% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.2;
    }
}

.green {
    background-color: rgb(80, 214, 26);
    opacity: 1;
    animation: green 8s linear infinite;
}

@keyframes green {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    95% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.pillar {
    width: 15px;
    height: 300px;
    background-color: #222;
    position: relative;
    top: -3px;
}